<% include partials/header.ejs%>

      <div class="content">
        <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
          <div class="container-fluid">
            <div class="header-body">
              <!-- Card stats-->
              <div class="text-center" style="color:#fff">
                <p class="text-uppercase">blank header</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Page content--><br>
        <br>
      </div>

<% include partials/footer.ejs %>