extends layout

block content
 .content
    .main-content
      // Header
      .header.bg-gradient-primary.pb-8.pt-5.pt-md-8
        .container-fluid
          .header-body
            // Page content
            center
              h1(style="margin-top: -5%; color: white;") Create a tokenized property
              br
              form(role='form', style='max-width: 50% !important;')
                .form-group
                  .input-group.input-group-alternative
                    input.form-control#tokenName(placeholder='Property name', type='text')
                .form-group
                  .input-group.input-group-alternative
                    input.form-control#tokenSymbol(placeholder='Token symbol', type='text')
                .form-group.mb-3
                  .input-group.input-group-alternative
                    //
                      <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                      </div>
                    input.form-control#supply(placeholder='Total supply of tokens', type='text')
                .form-group
                  .input-group.input-group-alternative
                    input.form-control#priceEth(placeholder='Price of tokens in ETH', type='text')
                .form-group
                  .input-group.input-group-alternative
                    input.form-control#priceElad(placeholder='Price of tokens in ELAD', type='text')
                .form-group
                  .input-group.input-group-alternative
                    input.form-control#fallback(placeholder='Fallback address (optional)', type='text')
                .form-group
                  .input-group.input-group-alternative
                    input.form-control#description(placeholder='Description', type='textarea')
                .form-group
                  .input-group.input-group-alternative
                    input.form-control#img(placeholder='Image', type='file')
                .text-center
                  button.btn.btn-primary.my-4(type='button' onClick="createNew()") CREATE
            script(src='../assets/vendor/jquery/dist/jquery.min.js')
            script(src='../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js')
            // Optional JS
            script(src='../assets/vendor/clipboard/dist/clipboard.min.js')
            // Argon JS
            script(src='../assets/js/argon.js?v=1.0.0')
            script(src='../javascripts/web3lib.js')
            script(src='../javascripts/create.js')
            script(src='../javascripts/web3.js')


