<% include partials/header.ejs%>

      <div class="content">
        <div class="main-content">
          <!-- Header-->
          <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
            <div class="container-fluid">
              <div class="header-body">
                <!-- Page content-->
                <div class="container">
                  <h1 class="text-center">
                    <p style="font-weight:bold; color:white; font-size:25px">Create a tokenized property</p>
                  </h1>
                  <form action="/create-property" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                      <label style="font-weight:bold; color:white">Property Name</label>
                      <input class="form-control" type="text" placeholder="Ex: House 123 in South London" name="propertyName">
                    </div>
                    <div class="form-group">
                      <label style="font-weight:bold; color:white">Token Symbol</label>
                      <input class="form-control" type="text" placeholder="Ex: HSL" name="tokenSymbol">
                    </div>
                    <div class="form-group">
                      <label style="font-weight:bold; color:white">Token Total Supply</label>
                      <input class="form-control" type="text" placeholder="Ex: 100,000,000" name="totalSupply">
                    </div>
                    <div class="form-group">
                      <label style="font-weight:bold; color:white">Price of tokens in ETH</label>
                      <input class="form-control" type="text" placeholder="Ex: 10" name="ethPrice">
                    </div>
                    <div class="form-group">
                      <label style="font-weight:bold; color:white">Price of tokens in ELAD</label>
                      <input class="form-control" type="text" placeholder="Ex: 1,000" name="eladPrice">
                    </div>
                    <div class="form-group">
                      <label style="font-weight:bold; color:white">Fallback address (optional)</label>
                      <input class="form-control" type="text" placeholder="" name="fallbackAddress">
                    </div>
                    <div class="form-group">
                      <label style="font-weight:bold; color:white">Property Description</label>
                      <input class="form-control" type="text" placeholder="Ex: Beautiful house in South of London" name="propertyDescription">
                    </div>
                    <div class="form-group">
                      <label style="font-weight:bold; color:white">Property Image</label>
                      <input class="form-control" type="file" id="imageInput" name="propertyImage">
                    </div>
                    <br>
                    <button class="btn btn-secondary" type="submit">CREATE</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

<% include partials/footer.ejs %>