<% include partials/header.ejs%>

      <div class="content">
        <div class="main-content">
          <!-- Header-->
          <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
            <div class="container-fluid">
              <div class="header-body">
                <!-- Page content-->
                <div class="container">
                  <h1 class="text-center">
                    <font color="white">Create a tokenized property</font>
                  </h1>
                  <form action="/dashboard/create-property" method="POST">
                    <div class="form-group">
                      <font color="white">
                      <label for="exampleInputEmail1">Property Name</label></font>
                      <input class="form-control" type="text" placeholder="Ex: House 123 in South London" name="propertyName">
                    </div>
                    <div class="form-group">
                      <font color="white">
                      <label for="exampleInputEmail1">Token Symbol</label></font>
                      <input class="form-control" type="text" placeholder="Ex: HSL" name="tokenSymbol">
                    </div>
                    <div class="form-group">
                      <font color="white">
                      <label for="exampleInputEmail1">Token Total Supply</label></font>
                      <input class="form-control" type="text" placeholder="Ex: 100,000,000" name="totalSupply">
                    </div>
                    <div class="form-group">
                      <font color="white">
                      <label for="exampleInputEmail1">Price of tokens in ETH</label></font>
                      <input class="form-control" type="text" placeholder="Ex: 10" name="priceInEth">
                    </div>
                    <div class="form-group">
                      <font color="white">
                      <label for="exampleInputEmail1">Price of tokens in ELAD</label></font>
                      <input class="form-control" type="text" placeholder="Ex: 1,000" name="priceInElad">
                    </div>
                    <div class="form-group">
                      <font color="white">
                      <label for="exampleInputEmail1">Fallback address (optional)</label></font>
                      <input class="form-control" type="text" placeholder="" name="fallbackAddress">
                    </div>
                    <div class="form-group">
                      <font color="white">
                      <label for="exampleInputEmail1">Property Description</label></font>
                      <input class="form-control" type="text" placeholder="Ex: Beautiful house in South of London" name="propertyDescription">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Property Image</label>
                      <div class="file-field input-field">
                        <div class="btn grey">
                          <input name="propertyImage" type="file">
                          <input class="file-path validate" type="text">
                        </div>
                      </div>
                    </div>
                    <button class="btn btn-primary" type="submit">CREATE</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

<% include partials/footer.ejs %>