doctype html
html(lang='en')
 head
    title= Welcome
    link(href='../assets/img/brand/favicon.png', rel='icon', type='image/png')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700', rel='stylesheet')
    link(href='../assets/vendor/nucleo/css/nucleo.css', rel='stylesheet')
    link(href='../assets/vendor/@fortawesome/fontawesome-free/css/all.min.css', rel='stylesheet')
    link(type='text/css', href='../assets/css/argon.css?v=1.0.0', rel='stylesheet')
    //- for icons testing
    link(href='/assets/vendor/nucleo/css/nucleo.css', rel='stylesheet')

 body
  nav#sidenav-main.navbar.navbar-vertical.fixed-left.navbar-expand-md.navbar-light.bg-white
   .container-fluid
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#sidenav-collapse-main', aria-controls='sidenav-main', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    // Brand
    a.navbar-brand.pt-0(href='/dashboard')
      img.navbar-brand-img(src='../assets/img/brand/blue.png', alt='...', style='max-width: 150px !important;')
    // Collapse
    #sidenav-collapse-main.collapse.navbar-collapse
      // Collapse header
      .navbar-collapse-header.d-md-none
        .row
          .col-6.collapse-brand
            a(href='/dashboard/')
              img(src='../assets/img/brand/blue.png')
          .col-6.collapse-close
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#sidenav-collapse-main', aria-controls='sidenav-main', aria-expanded='false', aria-label='Toggle sidenav')
              span
              span
      // Navigation
      ul.navbar-nav
        li.nav-item
          a.nav-link(href='/dashboard/')
            i.ni.ni-tv-2.text-primary
            |  Dashboard
        li.nav-item
          a.nav-link(href='/dashboard/create')
            i.ni.ni-planet.text-blue
            |  Create property
        li.nav-item
          a.nav-link(href='/dashboard/manage')
            i.ni.ni-pin-3.text-orange
            |  Manage my properties
        li.nav-item
          a.nav-link(href='/dashboard/logout')
            i.ni.ni-door-3.text-orange
            |  Logout
      // Divider
      hr.my-3
      // Navigation
 .main-content
    nav#navbar-main.navbar.navbar-top.navbar-expand-md.navbar-dark
     .container-fluid
      // Brand
      a.h4.mb-0.text-white.text-uppercase.d-none.d-lg-inline-block(href='./index.html') Dashboard
      // User
      ul.navbar-nav.align-items-center.d-none.d-md-flex
        li.nav-item.dropdown
          a.nav-link.pr-0(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            .media.align-items-center
              .media-body.ml-2.d-none.d-lg-block
                span.mb-0.text-sm.font-weight-bold User's name
          .dropdown-menu.dropdown-menu-arrow.dropdown-menu-right
            .dropdown-header.noti-title
              h6.text-overflow.m-0 Welcome!
            a.dropdown-item(href='./examples/profile.html')
              i.ni.ni-single-02
              span My profile
            a.dropdown-item(href='./examples/profile.html')
              i.ni.ni-settings-gear-65
              span Settings
            a.dropdown-item(href='./examples/profile.html')
              i.ni.ni-calendar-grid-58
              span Activity
            a.dropdown-item(href='./examples/profile.html')
              i.ni.ni-support-16
              span Support
            .dropdown-divider
            a.dropdown-item(href='#!')
              i.ni.ni-user-run
              span Logout
    block content

