<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <link href="../assets/img/brand/favicon.png" rel="icon" type="image/png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="../assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
    <link href="../assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link type="text/css" href="../assets/css/argon.css?v=1.0.0" rel="stylesheet">
    <link href="/assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
  </head>
  <body>

    <div class="container">
        <br><br><br><br>
        <div class="container text-center" style="width: 40rem;">
            <div class="card bg-secondary shadow border-0 text-center">
                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                        <h1>Login</h1>
                    </div>
                    <form action="/login" method="POST">
                        <% if(typeof msg != 'undefined') { %>
                            <div class="text-left">
                                <span id="wrongPassword" style="color:red; font-size:14px">
                                    <%= msg %>
                                    <br><br>
                                </span>
                            </div>
                        <% } %>
                        <div class="form-group mb-3">
                            <div class="input-group input-group-alternative">
                                <input class="form-control" placeholder="Email" type="text" name="uname" id="username" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-alternative">
                                <input class="form-control" placeholder="Password" type="password" name="passwd" id="password" required>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary my-4">Sign in</button>
                        </div>
                    </form>
                    Don't have an account? <a href="/signup">Click here</a>
                </div>
            </div>
        </div>

    <!-- End of div main-content  -->
    </div>

    <!-- Argon Scripts-->
    <!-- Core-->
    <script src="../assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
    <!-- Optional JS-->
    <script src="../assets/vendor/chart.js/dist/Chart.min.js"></script>
    <script src="../assets/vendor/chart.js/dist/Chart.extension.js"></script>
    <script src="../assets/vendor/clipboard/dist/clipboard.min.js"></script>
    
    <!-- Argon JS-->
    <script src="../assets/js/argon.js?v=1.0.0"></script>
  </body>
</html>