extends layout

block content
  .content
    .header.bg-gradient-primary.pb-8.pt-5.pt-md-8
      .container-fluid
        //- .header-body
        // Table
        .row
          .col
            .card.shadow
              .card-header.border-0
                h3.mb-0 My Properties
              .table-responsive
                table.table.align-items-center.table-flush#propertiesTable
                  thead.thead-light
                    tr
                      th(scope='col') Property Name
                      th(scope='col') Total Supply
                      th(scope='col') Tokens Bought
                      th(scope='col') Market Cap
                  tbody
        // Container -> end

        // Argon Scripts
        // Core
        script(src='../assets/vendor/jquery/dist/jquery.min.js')
        script(src='../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js')
        // Optional JS
        script(src='../assets/vendor/chart.js/dist/Chart.min.js')
        script(src='../assets/vendor/chart.js/dist/Chart.extension.js')
        // Argon JS
        script(src='../assets/js/argon.js?v=1.0.0')
        script(src='../javascripts/manage.js')
        script(src='../javascripts/web3.js')