<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <link href="../assets/img/brand/favicon.png" rel="icon" type="image/png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="../assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
    <link href="../assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link type="text/css" href="../assets/css/argon.css?v=1.0.0" rel="stylesheet">
    <link href="/assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
  </head>
  <body>

    <div class="container">
        <div class="container text-center">
            <br><br><br><br>
            <div class="card bg-secondary shadow border-0 text-center">
                <div class="card-body px-lg-5 py-lg-5">
                    <img src="https://static1.squarespace.com/static/5a6e2f7718b27d1135126e21/t/5b681aa1aa4a99f211e224a5/1546800690430/2+no+background+copy+400.png"
                        class="img-fluid" alt="Responsive image" width="200px">
                    <div class="text-center text-muted mb-4" style="font-color:black">
                        <br>
                        <h1>User successfully created.</h1>
                        <br>
                        Click <a href="/login">here</a> to log in
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Argon Scripts-->
    <!-- Core-->
    <script src="../assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
    <!-- Optional JS-->
    <script src="../assets/vendor/chart.js/dist/Chart.min.js"></script>
    <script src="../assets/vendor/chart.js/dist/Chart.extension.js"></script>
    <script src="../assets/vendor/clipboard/dist/clipboard.min.js"></script>
    
    <!-- Argon JS-->
    <script src="../assets/js/argon.js?v=1.0.0"></script>
    <script src="../javascripts/ethereum.js"></script>
  </body>
</html>