<% include partials/header.ejs%>

      <div class="content">
        <div class="header bg-white pb-8 pt-5 pt-md-8">
          <div class="container-fluid">
            <!-- Table-->
            <div class="row">
              <div class="col">
                <div class="card shadow">
                  <div class="card-header border-0">
                    <h1 class="mb-0">Property Tokens</h1>
                  </div>
                  <div class="table-responsive">
                    <table class="table align-items-center table-flush" id="tokensTable">
                      <thead class="thead-light">
                        <tr>
                          <th scope="col">Property name (symbol)</th>
                          <th scope="col">Total Supply</th>
                          <th scope="col">Tokens Bought</th>
                          <th scope="col">Tokens Left</th>
                          <th scope="col">Token Address</th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>
              </div>
            <!-- row end-->
            </div>
          <!-- Container -> end-->
          </div>
        </div>
      </div>
    
    <!-- End of div main-content  -->
    </div>

    <!-- Manage properties js file -->
    <script src="../javascripts/tokens.js"></script>
      
<% include partials/footer.ejs %>